<link rel="stylesheet" href="/templates/client.css">
<section class="startup-section">
    <div class="startups-logo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <div class="third-title">
                        <div class="headertitle">
                            <h4 style="text-align: center;"> Our Client</h4>
                        </div>
                    </div>
                    <div class="jobs-list">
                        <ul class="startups-logo-list">
                            <li><img width="205" height="45" src="/assets/img/Clients/honeywell.png" loading="lazy" alt="honeywell"></li>
                            <li><img width="205" height="95" src="/assets/img/Clients/Indian-Oil-Logo.jpg" loading="lazy" alt="India"></li>
                            <li><img width="180" height="45" src="/assets/img/Clients/ingenero.png" loading="lazy" alt="ingenero"></li>
                            <li><img width="185" height="130" src="/assets/img/Clients/P66.png" loading="lazy" alt="p66"></li>
                            <li><img width="205" height="85" src="/assets/img/Clients/SABIC_Logo_.png" loading="lazy" alt="SABIC_Logo"></li>
                            <li><img width="205" height="85" src="/assets/img/Clients/Siemens.png" loading="lazy" alt="Siemens"></li>
                            <li><img width="205" height="85" src="/assets/img/Clients/westlake_logo.jpg" loading="lazy" alt="westlake_logo"></li>
                     
                        </ul>
            
                    </div> -->
                    <div class="slideshow-container">
                        <div class="third-title">
                            <div class="headertitle">
                                <h4 style="text-align: center;"> Our Client</h4>
                            </div>
                        </div>
                        <div class="mySlides fade">
                            <div class="jobs-list">
                                <ul class="startups-logo-list">
                                    <li><img width="205" height="45" src="/assets/img/Clients/honeywell.png"
                                            loading="lazy" alt="honeywell"></li>
                                    <li><img width="205" height="95" src="/assets/img/Clients/Indian-Oil-Logo.jpg"
                                            loading="lazy" alt="India"></li>
                                    <li><img width="180" height="45" src="/assets/img/Clients/ingenero.png"
                                            loading="lazy" alt="ingenero"></li>

                                </ul>

                            </div>
                            <!-- <img width="205" height="45" src="/assets/img/Clients/honeywell.png" loading="lazy" alt="honeywell">
                            <img width="205" height="95" src="/assets/img/Clients/Indian-Oil-Logo.jpg" loading="lazy" alt="India">
                            <div class="text">Caption Text</div> -->
                        </div>

                        <div class="mySlides fade">
                            <ul class="startups-logo-list">
                                <li><img width="185" height="130" src="/assets/img/Clients/P66.png" loading="lazy"
                                        alt="p66"></li>
                                <li><img width="205" height="85" src="/assets/img/Clients/SABIC_Logo_.png"
                                        loading="lazy" alt="SABIC_Logo"></li>
                                <li><img width="205" height="85" src="/assets/img/Clients/Siemens.png" loading="lazy"
                                        alt="Siemens"></li>
                                <li><img width="205" height="85" src="/assets/img/Clients/westlake_logo.jpg"
                                        loading="lazy" alt="westlake_logo"></li>

                            </ul>
                        </div>

                    </div>
                    <br>

                    <div style="text-align:center">
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
    }

</script>