<div class="forth-box" style="height: auto;">
    <div class="row">
        <div class="col-md-5">
            <div class="sidebox">
                <div class="linetitle">
                    <h1>Languages</h1>
                </div>
                <div class="sideboxtec">
                    <ul class="available-list-tech">
                        <li>
                            <div class="cardtec">Html</div>
                        </li>
                        <li>
                            <div class="cardtec">C#</div>
                        </li>
                        <li>
                            <div class="cardtec">C</div>
                        </li>
                        <li>
                            <div class="cardtec">C++</div>
                        </li>
                        <li>
                            <div class="cardtec">Java</div>
                        </li>
                        <li>
                            <div class="cardtec">python</div>
                        </li>


                        <li>
                            <div class="cardtec">javascript</div>
                        </li>
                        <li>
                            <div class="cardtec">Kotlin</div>
                        </li>
                        <li>
                            <div class="cardtec">php</div>
                        </li>
                        <li>
                            <div class="cardtec">swift</div>
                        </li>
                        <li>
                            <div class="cardtec">R</div>
                        </li>
                        <li>
                            <div class="cardtec">Ruby</div>
                        </li>
                        <li>
                            <div class="cardtec">Go</div>
                        </li>
                        <li>
                            <div class="cardtec">Mattab</div>
                        </li>
                        <li>
                            <div class="cardtec">TypeScript</div>
                        </li>
                        <li>
                            <div class="cardtec">scala</div>
                        </li>
                        <li>
                            <div class="cardtec">.net</div>
                        </li>
                        <li>
                            <div class="cardtec">perl</div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <div class="sidebox">
                        <div class="linetitle">
                            <h1> Testing</h1>
                        </div>
                        <div class="sideboxtec">
                            <ul class="available-list-tech">
                                <li>
                                    <div class="cardtec">Selenium</div>
                                </li>
                                <li>
                                    <div class="cardtec">Browser Stack</div>
                                </li>

                                <li>
                                    <div class="cardtec">Testrail</div>
                                </li>

                                <li>
                                    <div class="cardtec">Postman</div>
                                </li>
                                <li>
                                    <div class="cardtec">Apache Jmeter</div>
                                </li>
                                <li>
                                    <div class="cardtec">jira</div>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-md-7">
                    <div class="sidebox">
                        <div class="linetitle">
                            <h1>Database</h1>
                        </div>
                        <div class="sideboxtec">
                            <ul class="available-list-tech">
                                <li>
                                    <div class="cardtec">SQL Server</div>
                                </li>
                                <li>
                                    <div class="cardtec"> Elasticsearch</div>
                                </li>
                                <li>
                                    <div class="cardtec"> Dynamo</div>
                                </li>
                                <li>
                                    <div class="cardtec">Oracle</div>
                                </li>
                                <li>
                                    <div class="cardtec">PosgreSQL</div>
                                </li>
                                <li>
                                    <div class="cardtec">MongoDB</div>
                                </li>
                                <li>
                                    <div class="cardtec">MySQL</div>
                                </li>
                                <li>
                                    <div class="cardtec">Cassandra</div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-5">
            <div class="sidebox">
                <div class="linetitle">
                    <h1>Cloud And Devops</h1>
                </div>

                <div class="sideboxtec">
                    <ul class="available-list-tech">
                        <li>
                            <div class="cardtec">aws</div>
                        </li>
                        <li>
                            <div class="cardtec">Google Cloud</div>
                        </li>
                        <li>
                            <div class="cardtec">Docker</div>
                        </li>

                        <li>
                            <div class="cardtec">Jenkins</div>
                        </li>
                        <li>
                            <div class="cardtec">Azure</div>
                        </li>
                        <li>
                            <div class="cardtec">Kubernetes</div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <!-- <div class="col-md-6">
                <div class="sidebox">
                    <div class="linetitle">
                        <h1>Framework</h1>
                    </div>
                    <div class="sideboxtec">
                        <ul class="available-list-tech">
                            <li>
                                <div class="cardtec">JPA</div>
                            </li>
                            <li>
                                <div class="cardtec"> Hibernate</div>
                            </li>
                            <li>
                                <div class="cardtec">Spring boot</div>
                            </li>
                            <li>
                                <div class="cardtec">Django</div>
                            </li>
                            <li>
                                <div class="cardtec">Laravel</div>
                            </li>
                            <li>
                                <div class="cardtec">Express</div>
                            </li>
                            <li>
                                <div class="cardtec">React.js</div>
                            </li>
                            <li>
                                <div class="cardtec">Vue.js</div>
                            </li>
                            <li>
                                <div class="cardtec">Ruby on rails</div>
                            </li>
                            <li>
                                <div class="cardtec">Flask</div>
                            </li>
                            <li>
                                <div class="cardtec">ASP.NET</div>
                            </li>
                            <li>
                                <div class="cardtec">flutter</div>
                            </li>
                            <li>
                                <div class="cardtec">Gatsby</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
                <div class="col-md-12">
                    <div class="sidebox">
                        <div class="linetitle">
                            <h1> Other</h1>
                        </div>
                        <div class="sideboxtec">
                            <ul class="available-list-tech">
                                <li>
                                    <div class="cardtec">Tableau</div>
                                </li>
                                <li>
                                    <div class="cardtec">Power BI</div>
                                </li>
                                <li>
                                    <div class="cardtec">Kafka</div>
                                </li>

                                <li>
                                    <div class="cardtec">Sharepoint</div>
                                </li>
                                <li>
                                    <div class="cardtec">Microsoft BizTalk</div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="forth-box" style="height: auto;">
    <div class="divtec"> Technologies we use</div>


    <div class="elerow">
        <ul class="available-list">
            <li>
                <div class="elementor-image-box-wrapper">
                    <figure class="elementor-image-box-img"><img width="55" height="50"
                            src="./../assets/img/logo_reactjs.png" class="attachment-full size-full"
                            alt="ReactJS developer" loading="lazy">
                    </figure>
                    <div class="elementor-image-box-content">
                        <p class="elementor-image-box-title">ReactJS
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="elementor-widget-container">
                    <div class="elementor-image-box-wrapper">
                        <figure class="elementor-image-box-img"><img width="55" height="50"
                                src="./../assets/img/logo_reactjs.png" class="attachment-full size-full"
                                alt="ReactJS developer" loading="lazy">
                        </figure>
                        <div class="elementor-image-box-content">
                            <p class="elementor-image-box-title">React Native
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="elementor-widget-container">
                    <div class="elementor-image-box-wrapper">
                        <figure class="elementor-image-box-img"><img width="80" height="65"
                                src="./../assets/img/nodejs.png" class="attachment-full size-full" alt="Nodejs logo"
                                loading="lazy">
                        </figure>
                        <div class="elementor-image-box-content">
                            <p class="elementor-image-box-title">NODE JS
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="elementor-image-box-wrapper">
                    <figure class="elementor-image-box-img"><img width="55" height="50"
                            src="https://graffersid.com/wp-content/uploads/2022/05/typescript-resize.png"
                            class="attachment-full size-full" alt="Typescript" loading="lazy">
                    </figure>
                    <div class="elementor-image-box-content">
                        <p class="elementor-image-box-title">TypeScript
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="elementor-image-box-wrapper">
                    <figure class="elementor-image-box-img"><img width="55" height="50" src="./../assets/img/vue.png"
                            class="attachment-full size-full" alt="Laravel developer" loading="lazy">
                    </figure>
                    <div class="elementor-image-box-content">
                        <p class="elementor-image-box-title">vuejs
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="elementor-widget-container">
                    <div class="elementor-image-box-wrapper">
                        <figure class="elementor-image-box-img"><img width="55" height="50"
                                src="./../assets/img/php.png" class="attachment-full size-full" alt="Wordpress Logo"
                                loading="lazy">
                        </figure>
                        <div class="elementor-image-box-content">
                            <p class="elementor-image-box-title">php
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="elementor-image-box-wrapper">
                    <figure class="elementor-image-box-img"><img width="55" height="50" src="./../assets/img/js.png"
                            class="attachment-full size-full" alt="Shopify Logo" loading="lazy">
                    </figure>
                    <div class="elementor-image-box-content">
                        <p class="elementor-image-box-title">javascript
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="elementor-widget-container">
                    <div class="elementor-image-box-wrapper">
                        <figure class="elementor-image-box-img"><img width="85" height="60"
                                src="./../assets/img/java.png" class="attachment-full size-full" alt="Devops Icon"
                                loading="lazy">
                        </figure>
                        <div class="elementor-image-box-content">
                            <p class="elementor-image-box-title">java
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="elementor-image-box-wrapper">
                    <figure class="elementor-image-box-img"><img width="55" height="50"
                            src="https://graffersid.com/wp-content/uploads/2021/04/image-35.png"
                            class="attachment-full size-full" alt="Laravel developer" loading="lazy">
                    </figure>
                    <div class="elementor-image-box-content">
                        <p class="elementor-image-box-title">Laravel
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="elementor-widget-container">
                    <div class="elementor-image-box-wrapper">
                        <figure class="elementor-image-box-img"><img width="100" height="60"
                                src="https://graffersid.com/wp-content/uploads/2020/11/image-37.png"
                                class="attachment-full size-full" alt="Wordpress Logo" loading="lazy">
                        </figure>
                        <div class="elementor-image-box-content">
                            <p class="elementor-image-box-title">WordPress
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="elementor-image-box-wrapper">
                    <figure class="elementor-image-box-img"><img width="55" height="50"
                            src="https://graffersid.com/wp-content/uploads/2022/05/shopyfy-small.png"
                            class="attachment-full size-full" alt="Shopify Logo" loading="lazy">
                    </figure>
                    <div class="elementor-image-box-content">
                        <p class="elementor-image-box-title">Shopify
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="elementor-widget-container">
                    <div class="elementor-image-box-wrapper">
                        <figure class="elementor-image-box-img"><img width="55" height="50"
                                src="https://graffersid.com/wp-content/uploads/2022/05/devops-resize.png"
                                class="attachment-full size-full" alt="Devops Icon" loading="lazy">
                        </figure>
                        <div class="elementor-image-box-content">
                            <p class="elementor-image-box-title">DevOps
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="elementor-widget-container">
                    <div class="elementor-image-box-wrapper">
                        <figure class="elementor-image-box-img"><img width="55" height="50"
                                src="/assets/img/hibernate.png" class="attachment-full size-full" alt="Devops Icon"
                                loading="lazy">
                        </figure>
                        <div class="elementor-image-box-content">
                            <p class="elementor-image-box-title">Hibernate
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="elementor-widget-container">
                    <div class="elementor-image-box-wrapper">
                        <figure class="elementor-image-box-img"><img width="55" height="50"
                                src="/assets/img/netfram.jfif" class="attachment-full size-full" alt="Devops Icon"
                                loading="lazy">
                        </figure>
                        <div class="elementor-image-box-content">
                            <p class="elementor-image-box-title">.Net
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="elementor-widget-container">
                    <div class="elementor-image-box-wrapper">
                        <figure class="elementor-image-box-img"><img width="75" height="50" src="/assets/img/python.png"
                                class="attachment-full size-full" alt="Devops Icon" loading="lazy">
                        </figure>
                        <div class="elementor-image-box-content">
                            <p class="elementor-image-box-title">python
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="elementor-widget-container">
                    <div class="elementor-image-box-wrapper">
                        <figure class="elementor-image-box-img"><img width="85" height="80"
                                src="/assets/img/blockchain.jpg" class="attachment-full size-full" alt="Devops Icon"
                                loading="lazy">
                        </figure>
                        <div class="elementor-image-box-content">
                            <p class="elementor-image-box-title">blockchain
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="elementor-widget-container">
                    <div class="elementor-image-box-wrapper">
                        <figure class="elementor-image-box-img"><img width="95" height="55"
                                src="/assets/img/spring-boot-logo.png" class="attachment-full size-full"
                                alt="Devops Icon" loading="lazy">
                        </figure>
                        <div class="elementor-image-box-content">
                            <p class="elementor-image-box-title">spring boot
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="elementor-widget-container">
                    <div class="elementor-image-box-wrapper">
                        <figure class="elementor-image-box-img"><img width="95" height="55" src="/assets/img/vscode.png"
                                class="attachment-full size-full" alt="Devops Icon" loading="lazy">
                        </figure>
                        <div class="elementor-image-box-content">
                            <p class="elementor-image-box-title">visual Studio code
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>



    </div>
</div>