<script src="/templates/slideshow.js"></script>
<link rel="stylesheet" href="/templates/slideshow.css" />

<div class="container">
    <div class="col-md-12">
        <div class="third-title">
            <div class="headertitle">
                <h4 style="text-align: center;"> Our Client</h4>
            </div>
        </div>

        <div class="mySlides">
           
            <div class="body" style="display: flex;">
                <div class="col-md-6">
                    <div class="slide1"></div>
                </div>
                <div class="col-md-6">
                    <div class="numbertext">1 / 2</div>
                    <div class="heading">
                        <div class="third-title" style="text-align: center;">
                            <img class="ingenero" src="/assets/img/ingenero.png" alt="">
                        </div>


                        <p>
                            We deliver the Software solutions to Ingenero’s top-tier process engineers  focus on
                            high-end
                            solutions and services. This pool of hundreds of  engineers, hand-picked from the
                            worlds’
                            top
                            universities, with more  than 20 years of experience in oil and gas, refining,
                            petrochemical,
                            pharmaceutical,  fertilizer and fibre industries, are “geared” towards making sure the
                            design,
                            
                            maintenance and  operation of a manufacturing process is smooth and flawless. 
                            Ingenero
                            is
                            considered to be the best process
                             engineering consultants worldwide.
                        </p>
                    </div>
                </div>

            </div>
        </div>
      
        
        <div class="mySlides">
           
            <div class="body" style="display: flex;">
                <div class="col-md-6">
                    <div class="slide2"></div>
                </div>
                <div class="col-md-6">
                    <div class="numbertext">2 / 2</div>
                    <div class="heading">
                        <div class="third-title" style="text-align: center;">
                            <img class="ingenero" src="/assets/img/honeywell.png" alt="">
                        </div>


                        <p>
                            We deliver the Software Application to Honeywell Automation India Ltd (HAIL) is a market
                            leader
                            in Electronics-Instrumentation and Process Control equipment industry. HAIL is leading
                            provider
                            of integrated automation and software solution that improves productivity enhancing comfort
                            and
                            ensuring the safety and security to homes and business premises. The company's main
                            products
                            are
                            distributed control systems building and smart transmitters. The Company is engaged
                            primarily
                            in
                            the business of Automation & Control systems on turnkey basis and otherwise.
                        </p>
                    </div>
                </div>

            </div>
        </div>


        
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
    </div>
</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
</div>