.available-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.available-list.list{
    margin-top: 70px;
}
.available-list.list li {
    width: auto;
    height: auto;
    max-width: none;
    background-color: transparent;
    justify-content: start;
    box-shadow: none;
    margin: 0;
    padding: 10px 0;
}
.available-list.list li .box .title-body li {
    justify-content: start;
}
.available-list li {
    cursor: pointer;
    background-color: #ffffff;
    display: flex;
    color: #000000;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    padding: 10px;
    box-shadow: rgb(0 0 0 / 9%) 0px 3px 12px;
    width: 244px;
    height: 110px;
    margin: 30px;
}
.elementor-image-box-wrapper{
    text-align: center;
}
@media (max-width: 768px) {
    .available-list.list li{
        justify-content: center;
    }
    
}