<link rel="stylesheet" href="../../templates/dashboard/frontdiv.css" />
<script src="./../../templates/dashboard/nav.js"></script>
<div class="banner">
<header class="header">
    <nav class="navbar">
        <a href="#" class="nav-logo"> Bigtime</a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#" class="nav-link">Services</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contact</a>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
<div class="content">
    <h1>Welcome To <span style="color: #dde1e6;">BigTime</span> </h1>
    <p>Bigtime tech’s software development services integrate with IT consulting services <br> and allow
        custom-made
        software solutions for leading firms and startups around the globe.</p>
    <div>
        <button class="button"><span></span> INQUIRY</button>
        <button class="button"><span></span> CLICK ME</button>
    </div>
</div>
</div>

<!-- <div class="container navbar1">
    <span class="logo">BigTime</span>
    <ul>
        <li><a href="#"> Home</a></li>
        <li><a href="#"> Services</a></li>
        <li><a href="#"> Information</a></li>
    </ul>
</div> -->

<!-- <div class="header">
    <div class="container">
    <a href="#default" class="logo">
        <div class="heading-bt">
            <h1>BigTime</h1>
        </div>
    </a>
    <div class="header-right">
        <div>
            <button onclick="opendiv()" class="btnstyle" style="margin-top: 0;"> register</button>
        </div>
    </div>
</div>
</div> -->

<!-- <div class="container">
    <div class="col-md-12">
            <div class="secheader">
               
                <div>
                   
                </div>
        </div>
    </div>
</div> -->